@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Lato:300,300i,400,700');
$white: #fff;
$orange: #f28546;
$green: #52ffa2;
$white: #fff;
$black: #111;
$red: #DB222A;
$heading-font-stack: 'Great Vibes', serif;
$body-font-stack: 'Lato', arial, sans-serif;